<div class="p-6 space-y-6 bg-gray-50 min-h-screen">
  @if(SelectedDispute() == null){
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      <app-kapi-card *ngFor="let k of kapis" [title]="k.label" [value]="k.value" [icon]="k.icon" [accentColor]="k.color"></app-kapi-card>
    </div>
  
    <div class="bg-white p-4 rounded-xl border border-gray-200 flex flex-wrap gap-4 items-end shadow-sm">
      <div class="flex flex-col gap-1">
        <label class="text-[10px] font-black text-gray-400 uppercase">Priorité</label>
        <select class="border rounded-lg px-3 py-2 text-sm outline-none"><option>Toutes</option><option>Haute</option></select>
      </div>
      <div class="flex flex-col gap-1">
        <label class="text-[10px] font-black text-gray-400 uppercase">Type de conflit</label>
        <select class="border rounded-lg px-3 py-2 text-sm outline-none"><option>Tous</option><option>Livraison</option></select>
      </div>
      <button class="bg-primary text-white px-6 py-2 rounded-lg text-sm font-bold ml-auto">Actualiser les tickets</button>
    </div>
  
    <div class="bg-white rounded-2xl border border-gray-200 shadow-sm">
      <app-data-table [columns]="disputeColumns" [data]="disputes()" [actions]="disputeActions"></app-data-table>
    </div>
  }

  <app-dispute-detail [dispute]="SelectedDispute()" *ngIf="SelectedDispute()" (onBack)="SelectedDispute.set(null)" ></app-dispute-detail>
</div>